<%- include("partials/header") %>
<div class="container">
    

    <h1 style="text-align: center; color : white"> Add your data here
     <% var totaltime = 0 ; %>
                    <% founduser.data.forEach(function(data){%>

                    <%totaltime += data.time%>
                    

                    <%})%>
                    
    </h1>

<div  id="regform" style="border-radius: 25px;">
    <div style="display :block ; text-align:center">
<form action="/sheets/<%=currentUser._id%>/new" method="POST" style="align-items: center; width: 80%;">  
    
<div class="form-group">
    <input readonly class="form-control"    type="text" name="username" value="<%=currentUser.username%>">
    </div>
    
    <div class="form-group ">
<input class="form-control" id="today"  type="date" name="date">
</div>
<div class="form-group ">
<input class="form-control"    type="text" name="topic" placeholder="What did you study?">
</div>
<div class="form-group ">
    <input class="form-control"    type="number" name="time" placeholder="Time in minutes">
    </div>

        <div class="form-group ">
            <input class="form-control" type="number" name="totaltime" value="<%=totaltime%>" style="display:none">
        </div>
<div class="form-group ">
<button  id="btnpress" class = "btn btn-lg btn-success btn-block" >Add </button>
</div>

</form>
<p> <a  id="btnpress" class="btn btn-success" href="/sheets/<%=currentUser._id%>"> Go Back </a> 
</p>
</div>
</div>
</div>

 <% var totaltime = 0 ; %>
                    <% founduser.data.forEach(function(data){%>

                    <%totaltime += data.time%>
                    

                    <%})%>
                    

<script>
    var field = document.querySelector('#today');
var date = new Date();
field.value = date.getFullYear().toString() + '-' + (date.getMonth() + 1).toString().padStart(2, 0) +
    '-' + date.getDate().toString().padStart(2, 0);

</script>


<%- include("partials/footer") %>