<%- include("partials/header") %>
<link rel="stylesheet" href="/stylesheets/tdl.css" />
<style>
  span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
  }

  li:hover span {
    width: 40px;
    opacity: 1;
  }
</style>
<div id="tdlcontainer">
  <h1 style="margin-top: 8px;">
    To Do List <i class="fa fa-plus" aria-hidden="true"></i>
  </h1>
  <form action="/tdl/newtask/<%=currentUser._id%>" method="POST">
    <input
      class="tdl"
      type="text"
      name="task"
      placeholder="Add a New To Do"
      required
    />
    <input
      class="tdl"
      type="date"
      name="date"
      value="2020-0<%=new Date().getMonth()+1%>-<%=new Date().getDate()%>"
      required
    />
    <input type="submit" />
  </form>

  <% founduser.task.forEach(function(task){%>
  <ul id="tdlul" style="list-style-type: none;">
    <li class="list" id="tdllist">
      <form
        action="/<%=task._id%>/deletetask/<%=currentUser._id%>?_method=delete"
        method="POST"
      >
        <span>
          <button class="btn" style="background: none;">
            <i class="fa fa-trash"></i>
          </button>
        </span>
      </form>
      <%=task.task%>
    </li>
  </ul>
  <%})%>
</div>
<script src="/js/tdllogic.js"></script>
<%- include("partials/footer") %>
