<%- include("partials/header") %>
<link rel="stylesheet" href="/stylesheets/tdl.css" />

<div id="tdlcontainer">
  <h1 style="margin-top: 8px;">
    To Do List <i class="fa fa-plus" aria-hidden="true"></i>
  </h1>
  <form id="top" action="/tdl/newtask/<%=currentUser._id%>" method="POST" style="display: none;">
    <input 
      class="tdl"
      type="text"
      name="task"
      placeholder="Add a New To Do"
      required
    />
    <input 
      id="today"
      class="tdl"
      type="date"
      name="date"
      required
    />
    <div style="display: none;">
    <input type="text" name="username" value="<%=currentUser.username%>">
      </div>

    <input  type="submit" id="sbmt" />
  </form>

  
  <%  var sum = 0 ; if(founduser.task.length === 0){%>
  <ul id="tdlul" style="list-style-type: none; " >
  <li class="list" id="tdllist" > -- Enter a task by clicking on the plus icon --</li>
  
  </ul> 
  
   
  <%}else{ founduser.task.forEach(function(task){ sum++ ;  %>
    
  <ul id="tdlul" style="list-style-type: none; ">
    <li class="list" id="tdllist" >
          <span class="hid"> 
          <form
        action="/<%=task._id%>/deletetask/<%=currentUser._id%>?_method=delete"
        method="POST"
      >
      
          <button class="btn" style="background: none;">
            <i class="fa fa-trash"></i>
          </button>
       </form>
        
        </span>
             <span class="hid" > 
          <form
        action="/<%=task._id%>/marktask/<%=currentUser._id%>?_method=put"
        method="POST"
      >
      <input name="task" value='<%=task.task%>' style="display: none;"> </input>
      <input id="time" name="time" style="display: none;">
             </input>
      
          <button class="btn" style="background: none;">
            <i class="fa fa-check"></i>
          </button>
       </form>
        
        </span>
    
     <span style="margin-left: 10px;"><%=sum%>. <%=task.task%> </span>
    </li>
  </ul>
  <%})}%>

 <span style="color:grey;"> You have <%=sum%> pending tasks <a  id='stl' style=" height: 50px; border-radius: 0px ; font-size: 25px; background-color: #0e61a8; color: white;" class="btn btn-block"   href="/<%=currentUser._id%>/ctl"> View Completed Tasks  </a> </span>

</div>
 

<script src="/js/tdllogic.js"></script>
<%- include("partials/footer") %>
